.meme-container-small {
    display: inline-block;
}

.meme-container-small img.mini {
    width: 160px;
    height: 160px;
    margin: 0px 15px 15px 0px;
}

.fixed-container {
    width: 600px;
}

.meme-container-large {
    margin: 15px auto;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.meme-container-large img.large {
    width: 60%;
    float: left;
}

.meme-container-large .right-content {
    width: 37%;
    float: right;
    text-align: left;
}

.meme-title {
    font-size: 30px;
    font-weight: bold;
}

.meme-title a {
    text-decoration: none;
}

#create-canvas {
    display: inline-block;
    width: 100%;
    height: 500px;
}

.positions-input {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 50%;
}

.comment-section {
    margin: 15px auto;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.comment-section-title {
    font-size: 30px;
    font-weight: bold;
}

.comment {
    background: #e7e7e7;
    border-radius: 8px;
    margin: 5px;
    padding: 3px;
}

.comment-text {
    font-size: 20px;
}

.comment-author {
    font-style: italic;
}

.comment-author::before {
    content: "By ";
}
