body {
	margin: 0;
	padding: 0;
	background-color: #fde7c6;
	font-family: sans-serif;
}

#nav, main, footer {
	padding: 15px;
}

#nav {
	background-color: #fbb9ae;
}

#messages {
	text-align: center;
}

#messages .msg {
	padding: 8px;
	font-size: 20px;
	display: inline-block;
	border-radius: 6px;
	text-align: left;
}

.center {
	text-align: center;
}

.msg.info {
	background-color: rgb(172, 172, 172);
	color: white;
}

.msg.success {
	background-color: rgb(16, 180, 16);
	color: white;
}

.msg.error {
	background-color: #ea5050;
	color: white;
}

.msg.warning {
	color: #ea5050;
	font-size: 1.1em;
}

.close-btn {
	cursor: pointer;
	margin-left: 15px;
	color: black;
	font-weight: bold;
}

.close-btn:hover {
	color: #662;
}

main {
	min-height: 78vh;
}

footer {
   width: 90%;
}

footer h2 {
	margin-bottom: 5px;
}

button, input, textarea {
	background-image: none;
}

.nav {
	float: left;
	line-height: 36px;
}

.navbar-brand {
	font-size: 24px;
	text-decoration: none;
	color: #fde7c6;
}

.navbar-nav {
	margin-left: 10px;
}

#user-settings {
	float: right;
	line-height: 38px;
}

.logout-form {
	display: inline;
}

.clearfix {
	clear: both;
}

.form-data {
	font-size: 18px;
	margin-bottom: 10px;
	width: 25%;
}

.control-label {
	width: 170px;
	display: inline-block;
	margin-bottom: 4px;
}

.custom-input {
	display: block;
	width: 90%;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.4;
	color: #777;
	background-color: #fff;
	border: 1px solid #282828;
	border-radius: 4px;
}

a.btn {
	text-decoration: none;
}

.btn {
	color: #333;
	background-color: #d28989;
	color: #fde7c6;
	display: inline-block;
	border: 1px solid #d28989;
	padding: 8px 15px;
	margin-bottom: 0;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border-radius: 3px;
	
}

.btn:focus, .btn:hover {
	background-color: #fde7c6;
	color: #d28989;
	text-decoration: none;
}

.left-template-container {
	float: left;
	width: 47%;
}

.right-template-container {
	float: right;
	width: 47%;
}

.template-select {
	width: 60px;
	height: 60px;
	margin: 5px;
	cursor: pointer;
}

.template-img {
	width: 300px;
}

.main-welcome {
	color: #fbb9ae;
	text-shadow: 2px 2px 4px #fbb9ae;
}
