body {
    background: #e7e7e7;
    min-height: 90vh;
}

#nav, main, footer {
    margin: 10px;
    padding: 10px;
}

#nav {
    border: 1px solid black;
}

#messages {
    text-align: center;
}

#messages .msg {
    padding: 8px;
    font-size: 20px;
    display: inline-block;
    border-radius: 10px;
    text-align: left;
}

.center {
    text-align: center;
}

.msg.info {
    background-color: rgb(172, 172, 172);
    color: white;
}

.msg.success {
    background-color: rgb(16, 180, 16);
    color: white;
}

.msg.error {
    background-color: red;
    color: white;
}

.close-btn {
    cursor: pointer;
    margin-left: 50px;
    color: black;
    font-weight: bold;
}

.close-btn:hover {
    color: #662;
}

main {
    min-height: 78vh;
}

footer {
   width: 90%;
}

footer h2 {
    margin-bottom: 5px;
}

button, input, textarea {
    background-image: none;
}

.nav {
    float: left;
    line-height: 36px;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-nav {
    margin-left: 10px;
}

#user-settings {
    float: right;
    line-height: 38px;
}

.logout-form {
    display: inline;
}

.clearfix {
    clear: both;
}

.form-data {
    font-size: 18px;
    margin-bottom: 10px;
    width: 25%;
}

.control-label {
    width: 120px;
    display: inline-block;
    margin-bottom: 4px;
}

.custom-input {
    display: block;
    width: 90%;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.4;
    color: #777;
    background-color: #fff;
    border: 1px solid #282828;
    border-radius: 4px;
}

a.btn {
    text-decoration: none;
}

.btn {
    color: #333;
    background-color: #fff;
    border-color: #dae0e5;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid grey;
    border-radius: 5px;
    
}

.btn:focus, .btn:hover {
    color: #212529;
    background-color: #d6d6d6;
    text-decoration: none;
}

.left-template-container {
    float: left;
    width: 47%;
}

.right-template-container {
    float: right;
    width: 47%;
}

.template-select {
    width: 60px;
    height: 60px;
    margin: 5px;
    cursor: pointer;
}

.template-img {
    width: 300px;
}
